@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.headers {
  font-size: 3em
}

.view {
  color: blue;
  padding-left: 100px;
}

.sectionCategory {
  padding: 1rem 3rem .5rem 1rem;
}